li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 0.75;
    padding-left: 15px;
}

.links{
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 0.75;
    padding-left: 15px;
}

.right{
    float: right;
}

