li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 0.75;
    padding-right: 15px;
    font-size: 13px;
}

button{
    background-color: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 2px;
    color: #FFF;
    font-weight: bold;
    padding: 0 12px;
    padding-bottom: 5px;
    white-space: nowrap;
    padding-top: 5px;
    font-size: 13px;
}

.links{
    font-family: arial,sans-serif;
    font-size: 13px;
    padding-right: 15px;
    
}

.right{
    float: right;
}


.move{
    padding-top: 5px;
}

a:hover{
    text-decoration: underline;
}

.logo{
    display: block;
    margin: 0 auto;
    padding-top: 105px;
}

.search{
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 20px;
    border-radius: 20px;
    border-color: #b3b3b3;
}