li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    font-family: arial,sans-serif;
    color: #000;
    opacity: 0.75;
    padding-right: 15px;
}

.a{
    font-size: 13px;
}

.signin{
    background-color: #4285f4;
    border: 1px solid ;
    border-radius: 2px;
    color: #FFF;
    font-weight: bold;
    padding: 0 12px;
    padding-bottom: 5px;
    white-space: nowrap;
    padding-top: 5px;
    font-size: 13px;
}

.signin:hover{
    border-color: #4285f5;
}

.links{
    font-family: arial,sans-serif;
    font-size: 13px;
    padding-right: 15px;
    
}

.right{
    float: right;
}


.move{
    padding-top: 5px;
}

a:hover{
    text-decoration: underline;
}

.logo{
    display: block;
    margin: 0 auto;
    padding-top: 105px;
}

.search{
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    padding-right: 180px;
    padding-left: 180px;
    padding-bottom: 25px;
    border-radius: 18px;
    border-color: #c2c2c2;
    border: 0.6px solid #c2c2c2;
}

.buttons{
    text-align: center;
    padding-top: 30px;
    opacity: 0.85;
}

.butoanele{
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
}

.butoanele:hover{
    background-color: white;
    border-color: gray;
}

.footer{
    background-color: #ebebeb;
    bottom: 0;
    position: fixed;
    width: 99%;
    opacity: 0.80;
}

.footerbuttons{
    font-size: 14px !important;
}

